

body{      
    
    background: #191825;
    background-size: 100%;   
}



nav{
    box-shadow: 1px 9px 38px 13px rgba(241,234,234,0.39);
    box-shadow: 0px 3px 25px 10px rgba(241,234,234,0.39);
-webkit-box-shadow: 0px 3px 25px 10px rgba(241,234,234,0.39);
-moz-box-shadow: 0px 3px 25px 10px rgba(241,234,234,0.39);

}





.navbar-brand mark{
    background: #000000;
    color: red;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;    
      
}



nav ul li.nav-item a{
    color: #fff!important;
    text-decoration: none;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size .3s;
      margin-right:20px ;
  }
  
  nav ul li.nav-item a:hover{
    color: #fff!important;
    background-size: 100% 2px;
    
  }
















































.contenido{
    width: 100%;
    height: auto;
    margin-top: 70px;
    
    display: flex;
    justify-content: center;
    
}

.contenido .texto{
    width: 80%;
    height: auto;   
    background-color:rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: wrap;
    border-radius: 10px;

      
}

.texto h1{
    margin-top: 20px;
    color: wheat;
    text-align: center;
    margin-left: 18px;
    

}

.texto p{
    margin-top: 20px;
    color: wheat;
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
}






@media screen and (max-width:1200px){
    .containerr .estilo{
        width: 40%;
    }
    
}

@media screen and (max-width:600px){
    .containerr .estilo{
        width: 90%;
    }
    
}